.eventInfoWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    overflow-y: auto;
}

.eventInfoInnerContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-top: max(75px, 8%);
}

.eventInfoInnerContainer > h2 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    color: #5729ff;
}

.information {
    list-style: none;
    line-height: 2.8rem;
    font-size: 1.8rem;
}

.externalLink {
    margin: 40px 0;
    font-size: 1.5rem;
}

.eonetInfo {
    justify-self: flex-end;
    list-style: none;
    font-size: 1.2rem;
    line-height: 2.25rem;
}

.externalLink > a:link, .externalLink > a:visited {
    text-decoration: none;
    background-color: transparent;
    border: 3px solid #5729ff;
    color: #5729ff;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 60px;
    transition: all 0.1s ease;
    box-shadow: 1px 2px 3px black;
}

.externalLink > a:hover {
    background-color: #5729ff;
    color: white;
    box-shadow: 1px 3px 8px black;
}

.externalLink > a:active {
    background-color: #3214a0;
    border: 3px solid #3214a0;
}

.eonetInfo > a:link, .eonetInfo > a:visited {
    text-decoration: none;
    background-color: transparent;
    border: 3px solid #5729ff;
    color: #5729ff;
    padding: 4px 12px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 60px;
    transition: all 0.1s ease;
    box-shadow: 1px 2px 3px black;
}

.eonetInfo > a:hover {
    background-color: #5729ff;
    color: white;
    box-shadow: 1px 3px 8px black;
}

.eonetInfo > a:active {
    background-color: #3214a0;
    border: 3px solid #3214a0;
}

.closeBtn {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    background-color: #ff292991;
    color: white;
    padding: 10px 10px;
    margin-top: 0.5%;
    border-radius: 60px;
    box-shadow: 1px 2px 5px black;
}

.closeBtn:hover {
    cursor: pointer;
    background-color: #ff2929;
    box-shadow: 1px 3px 8px black;
}

.closeBtn:active {
    background-color: #a51515;
}

@media screen and (max-width: 1300px) {
    .eventInfoInnerContainer {
        padding-top: 60px;
    }

    .eventInfoInnerContainer > h2 {
        font-size: 2.25rem;
    }

    .information {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .externalLink {
        margin: 30px 0;
        font-size: 1.3rem;
    }

    .eonetInfo {
        font-size: 1.1rem;
    }

    .closeBtn {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1100px) {
    .eventInfoWrapper {
        padding: 10px 20px;
    }
}