.joinOuterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 80px);
    background-color: rgb(22, 0, 77);
    padding: 1%;
}

.innerTopContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    max-width: 600px;
    height: calc(50vh - 40px);
}

.joinWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.innerBottomContainer {
    display: flex;
    width: 100%;
    height: calc(50vh - 40px);
}

.load {
    position: absolute;
    z-index: 1000;
    width: 55px;
    height: auto;
    transform: translate(-50%, -50%);
}

.joinInput {
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 18px 20px;
    width: 100%;
}

.heading {
    color: white;
    font-size: 2.75rem;
    font-weight: lighter;
    letter-spacing: 2px;
    padding-bottom: 10px;
    /* padding-bottom: 20px; */
    /* border-bottom: 5px solid white; */
}

.heading2 {
    color: white;
    font-size: 1.6rem;
    font-weight: lighter;
    padding-bottom: 20px;
    border-bottom: 5px solid white;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    background: #5729ff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.button:hover {
    background: #2700b6;
    cursor: pointer;
}

.mt-20 {
    margin-top: 20px;
}

@media screen and (max-width: 1100px) {
    .joinOuterContainer {
        padding: 0;
    }

}

@media screen and (max-width: 820px) {
    .innerTopContainer {
        width: 75%;
    }

    .heading {
        font-size: 2.2rem;
    }

    .heading2 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 620px) {
    .innerTopContainer {
        width: 90%;
    }
}

@media screen and (max-width: 475px) {
    .innerTopContainer {
        width: 90%;
    }

    .heading {
        font-size: 1.8rem;
    }
    .heading2 {
        font-size: 1.1rem;
    }
}

@media screen and (max-height: 825px) {
    .joinInput {
        font-size: 1rem;
        padding: 8px 20px;
        width: 100%;
    }

    .button {
        font-size: 1rem;
        padding: 8px;
    }

    .mt-20 {
        margin-top: 12px;
    }

    .heading {
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        padding-bottom: 10px;
    }

    .heading2 {
        font-size: 1rem;
        padding-bottom: 10px;
        border-bottom: 2px solid white;
    }
}

button:focus {
    outline: 0;
}