.outerChatContainer {
    display: flex;
    justify-content: space-evenly;
    height: calc(100vh - 80px);
    background-color: rgb(22, 0, 77);
    padding: 1%;
}

.innerLeftContainer {
    display: flex;
    height: 100%;
    width: 50%;
    margin-right: 0.5%;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.load {
    justify-self: center;
    position: absolute;
    z-index: 1000;
    width: 55px;
    height: auto;
    transform: translate(-50%, -50%);
}

.map > div {
    border-radius: 20px;
    overflow: hidden;
}

.innerRightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-left: 0.5%;
    margin-bottom: 1%;
}

.chatWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    margin-bottom: 0.5%;
}

.innerChatContainer {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.infoBoxWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 0.5%;
    border-radius: 20px;
    padding: 0;
    background-color: white;
    border-top: 20px solid #5729ff;
    border-bottom: 20px solid #5729ff;
}

.infoBoxWrapper > div {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.infoBoxWrapper > img {
    display: flex;
    justify-self: center;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .outerChatContainer {
        padding: 0;
    }

    .innerChatContainer {
        border-radius: 0;
        width: 100%;
    }

    .map > div {
        border-radius: 0;
    }

    .infoBoxWrapper {
        border-radius: 0;
    }
}

@media screen and (max-width: 830px) {
    .outerChatContainer {
        flex-direction: column;
        height: calc(100vh - 80px);
        overflow-y: auto;
    }

    .innerLeftContainer {
        justify-self: flex-start;
        width: 100%;
        height: calc(50vh - 80px);
    }

    .innerRightContainer {
        justify-self: flex-end;
        width: 100%;
        height: 50vh;
        margin: 0;
    }

    .chatWrapper {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .innerChatContainer {
        margin: 0;
        padding: 0;
        height: 100%;

    }

    .infoBoxWrapper {
        display: none;
    }

}