.location-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.location-marker:hover, .location-marker:active {
    cursor: pointer;
    z-index: 1;
}

.drought-icon {
    color: black;
    font-size: 2rem;
}

.drought-icon:hover, .drought-icon:active {
    filter: drop-shadow(0 0 0.3rem black);
    font-size: 2.5rem;
}

.dust-icon {
    color: #ffa600;
    font-size: 2.5rem;
}

.dust-icon:hover, .dust-icon:active {
    filter: drop-shadow(0 0 0.3rem #ffa600);
    font-size: 3rem;
}

.quake-icon {
    color:#83003d;
    font-size: 2rem;
}

.quake-icon:hover, .quake-icon:active {
    filter: drop-shadow(0 0 0.3rem #83003d);
    font-size: 2.5rem;
}

.flood-icon {
    color: rgba(0, 0, 255, 0.89);
    font-size: 1.5rem;
}

.flood-icon:hover, .flood-icon:active {
    filter: drop-shadow(0 0 0.3rem blue);
    font-size: 2rem;
}

.slide-icon {
    color: black;
    font-size: 2rem;
}

.slide-icon:hover, .slide-icon:active {
    filter: drop-shadow(0 0 0.3rem black);
    font-size: 2.5rem;
}

.man-icon {
    color: #ff23b6;
    font-size: 2rem;
}

.man-icon:hover, .man-icon:active {
    filter: drop-shadow(0 0 0.3rem #ff23b6);
    font-size: 2.5rem;
}

.ice-icon {
    color: rgba(107, 53, 255, 0.76);
    font-size: 1.6rem;
}

.ice-icon:hover, .ice-icon:active {
    filter: drop-shadow(0 0 0.3rem rgb(107, 53, 255));
    font-size: 2.1rem;
}

.storm-icon {
    color: rgba(124, 124, 124, 0.75);
    font-size: 3rem;
}

.storm-icon:hover, .storm-icon:active {
    filter: drop-shadow(0 0 0.3rem black);
    font-size: 3.75rem;
    transform: rotate(70deg);
}

.snow-icon {
    color:#00b7ff;
    font-size: 2rem;
}

.snow-icon:hover, .snow-icon:active {
    filter: drop-shadow(0 0 0.3rem #00b7ff);
    font-size: 2.5rem;
}

.heat-icon {
    color: #ff0000;
    font-size: 2rem;
}

.heat-icon:hover, .heat-icon:active {
    filter: drop-shadow(0 0 0.3rem #ff0000);
    font-size: 2.5rem;
}

.volcano-icon {
    color: #865555;
    font-size: 1.5rem;
}

.volcano-icon:hover, .volcano-icon:active {
    filter: drop-shadow(0 0 0.3rem #bdbdbd);
    font-size: 2rem;
}

.water-icon {
    color: #0000ff;
    font-size: 2rem;
}

.water-icon:hover, .water-icon:active {
    filter: drop-shadow(0 0 0.3rem #0000ff);
    font-size: 2.5rem;
}

.fire-icon {
    color: #ff4800b7;
    font-size: 2.5rem;
}

.fire-icon:hover, .fire-icon:active {
    filter: drop-shadow(0 0 0.3rem #ff4800);
    font-size: 3rem;
}
